<% title "#{@show.full_name} | Cover" %>
<h2><%= link_to @show.full_name, [@user,@show] %> | Cover</h2>



<div>
	<%= render :partial => @cover %>
</div>

<br/>
<% form_for([current_user, @show, @cover]) do |f| %>
  <%= f.error_messages %>

  <p>
   Image Link:<br />
    <%= f.text_field :entry, :size=>60 %>
  </p>
  <p>
    <%= f.submit "Update" %> or 
	<%= link_to 'Delete', [@user, @show, @cover], :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>

<br/>
<%= link_to 'Back to show', user_show_path(@user, @show) %>

