<p>
  <b>User:</b>
  <%=h @friendships.user %>
</p>

<p>
  <b>Friend:</b>
  <%=h @friendships.friend_id %>
</p>

<p>
  <b>Note:</b>
  <%=h @friendships.note %>
</p>


<%= link_to 'Edit', edit_friendships_path(@friendships) %> |
<%= link_to 'Back', friendships_path %>
