<p>
  <b>Show:</b>
  <%=h @request.show %>
</p>

<p>
  <b>Show:</b>
  <%=h @request.show %>
</p>

<p>
  <b>Message:</b>
  <%=h @request.message %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
