<% title "#{@show.full_name} | Picture" %>
<h2><%= link_to @show.full_name, [@user,@show] %> | Picture</h2>
<br/>

<div>
	<%= render :partial => @picture %>
</div>

<br/>
<% form_for([current_user, @show, @picture]) do |f| %>
  <%= f.error_messages %>

  <p>
   Image Link:<br />
    <%= f.text_field :entry, :size=>60 %>
  </p>
  <p>
    <%= f.submit "Update" %> or 
	<%= link_to 'Delete', [current_user, @show, @picture], :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>

<br/>
<%= link_to 'Back to show', user_show_path(@user, @show) %>

