<% title "#{@show.full_name} | Reviews" %>
<h2><%= link_to @show.full_name, [@user,@show] %> | Reviews</h2>
<br/>

<% form_for([current_user, @show, @review]) do |f| %>
  <%= f.error_messages %>

  <p>
    Enter Review<br />
    <%= f.text_area :entry %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', user_show_path(@user, @show) %>
